# https://github.com/clangd/clangd/issues/1142
CompileFlags:
  Add: [-Wno-unknown-warning-option]
  Remove: [-m*, -f*]
  Compiler: csky-unknown-elf
Diagnostics:
  Suppress: [attribute_section_invalid_for_target]
